#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black no-repeat scroll center center;
    display: none;
}

#lightbox {
    position: absolute;
    background: #fff;
    height: 400px; 
    width: 600px;
    border: 4px solid #eee;
    display: none;
	z-index:500;
	overflow-x: hidden;
	overflow-y: scroll;
	
}

#lightboxClose {
    position: absolute;
    background: url(/resource/image/x.png) right top no-repeat;
    width: 25px;
    height: 25px;
    right: -04px;
    top: -09x;
}
#lightboxClose:hover {
    text-decoration:none;
}
#loader {
    display: none;
}